*{
    padding: 0px;
    margin: 0px;
}
.top{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    
}
#head{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
    
   
}
ul{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    list-style-type: none;
   margin-left: 100px;
    margin-top: 10px;
   
}
a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    
}
a:hover{
   color: rgb(2, 158, 158);
    
   
}
.detail{
    margin-top: 50px;
    margin-left: 50px;
   font-size: 20px;
}


footer{
    background-color: rgb(169, 253, 246);
    padding: 20px;
}
.p2{
    margin-left: 250px;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.p2{
    margin-left: 50px;
}
input{
    text-decoration: none;
    margin-top: 0px;
}